/* Main container for item info box */
.item-info-box {
    background-color: #1a1a1a;
    padding: 15px;
    border: 1px solid #333;
    margin-bottom: 10px;
    color: white;
    min-height: 150px;
    display: flex;
    gap: 20px;
}

/* Left and right panels */
.item-details {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* Container for icon and description */
.item-icon-and-description {
    display: flex;
    align-items: flex-start;
    gap: 20px; /* Space between icon/info and description */
}

/* Container for icon and info icon */
.icon-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

/* Container for item icon */
.item-icon-container {
    border: 3px solid #C3D91E;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.7);
    background-color: #2a2a2a;
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Style for item icon */
.item-icon {
    width: 64px;
    height: 64px;
    border-radius: 4px;
    display: block;
}

/* Style for info icon */
.info-icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
    margin-left: 100%;
    margin-right: 20px;
    transition: transform 0.2s ease, filter 0.2s ease;
}

/* Info icon hover */
.info-icon:hover {
    transform: scale(1.2);
    filter: brightness(1.2);
}

/* Description container */
.description-container {
    flex: 1;
}

/* Description popup */
.item-description-popup {
    background-color: #2a2a2a;
    padding: 15px;
    border: 1px solid #333;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.7);
    max-width: 600px;
    word-wrap: break-word;
    text-align: left;
}

/* Style for item description */
.item-description {
    color: white;
    font-size: 0.9rem;
    text-align: left;
}

/* Close button */
.item-description-popup button {
    background-color: #C3D91E;
    color: #1a1a1a;
    border: none;
    padding: 4px 6px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.8rem;
    transition: background-color 0.2s ease, color 0.2s ease;
    margin-top: 10px;
}

/* Close button hover */
.item-description-popup button:hover {
    background-color: #aabb22;
    color: #000;
}


/* Container for icon and description */
.item-icon-and-description {
    display: flex;
    align-items: flex-start;
}

/* Container for description */
.description-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}


