.welcome-screen {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: url('/assets/images/home_screen_background.webp') no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navbar {
    display: flex;
    align-items: center;
    background-color: #1A1A1A;
    height: 60px;
    color: white;
    width: 100%;
    position: absolute;
    top: 0;
}

.nav-logo {
    margin-top: 10px;
    margin-left: 10px;
    flex: 0.1;
}

.nav-logo img {
    width: 100px;
}

/* Linki w nawigacji */
.nav-links {
    display: flex;
    flex: 2.8;
    justify-content: flex-end;
    height: 100%;
}

.nav-item {
    width: 130px;
    position: relative;
    display: inline-block;
}

.nav-item > a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    align-items: center;
    height: 100%;
    transition: background 0.3s ease-in-out;
    padding: 0 15px;
}

.nav-item > a:hover {
    background-color: #444;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: #1A1A1A;
    border-radius: 0 0 5px 5px;
    display: flex;
    flex-direction: column;
    width: 130px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, visibility 0.3s;
}

.nav-item:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.dropdown-menu a {
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: background 0.3s ease-in-out;
}

.dropdown-menu a:hover {
    background-color: #444;
}

.nav-login {
    flex: 0.2;
    display: flex;
    justify-content: flex-end;
    height: 100%;
}

.login-button {
    background-color: #bce64f;
    color: #1A1A1A;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s ease-in-out;
}

.login-button:hover {
    background-color: #d5ff6f;
}

.welcome-content {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    width: 100%;
}

.eve-logo, .stockmarket-logo {
    max-width: 40%;
    height: auto;
    opacity: 0;
    filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.6));
}

.eve-logo {
    animation: moveUp 1.5s ease-out forwards;
}

.stockmarket-logo {
    animation: moveDown 1.5s ease-out forwards;
    animation-delay: 0.5s;
}

@keyframes moveUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes moveDown {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.begin-button {
    width: 350px; 
    height: 100px;
    background: url('/assets/main_icons/begin_button.png') no-repeat center center; 
    background-size: 50%; 
    background-color: #bce64f;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    clip-path: polygon(5% 0%, 95% 0%, 100% 10%, 100% 90%, 95% 100%, 5% 100%, 0% 90%, 0% 10%);
}

.begin-button:hover {
    filter: brightness(1.2);
    background-color: #F0FFC2;
}

@keyframes moveUpButton {
    from {
        opacity: 0;
        transform: translateY(50px); 
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.begin-button {
    width: 350px; 
    height: 100px;
    background: url('/assets/main_icons/begin_button.png') no-repeat center center; 
    background-size: 50%; 
    background-color: #bce64f;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    clip-path: polygon(5% 0%, 95% 0%, 100% 10%, 100% 90%, 95% 100%, 5% 100%, 0% 90%, 0% 10%);
    opacity: 0;
    animation: moveUpButton 1.5s ease-out forwards;
    animation-delay: 0.5s; 
}

.begin-button:hover {
    filter: brightness(1.2);
    background-color: #F0FFC2;
}
