.loading-bars-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #1A1A1A; /* Kolor tła */
  z-index: 1000;
}

.bars {
  display: flex;
  align-items: flex-end;
  height: 80px;
}

.bar {
  width: 6px;
  height: 20px;
  background-color: #B5E61D;
  margin: 0 4px;
  animation: grow 1.2s ease-in-out infinite;
  transform-origin: bottom;
}

.bar1 { animation-delay: 0s; }
.bar2 { animation-delay: 0.1s; }
.bar3 { animation-delay: 0.2s; }
.bar4 { animation-delay: 0.3s; }
.bar5 { animation-delay: 0.4s; }

@keyframes grow {
  0% { transform: scaleY(1); }
  50% { transform: scaleY(2); }
  100% { transform: scaleY(1); }
}

/* Stylizacja logo */
.loading-logo {
  margin-top: 20px; /* Odstęp między paskami a logo */
  width: 150px; /* Dostosowana szerokość */
  height: auto; /* Automatyczna wysokość */
  opacity: 0.8; /* Trochę przezroczyste dla efektu */
}
