/* Main container */
.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #000;
}

/* Top Menu */
.menu-container {
  height: 100px;
  background-color: #1a1a1a;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 15px;
}

/* Main section under Menu */
.content {
  display: flex;
  flex: 1;
  overflow: hidden;
}

/* Sidebar */
.sidebar {
  width: 350px;
  background-color: #101010;
  box-sizing: border-box;
  height: 100%;
  position: relative;
}

/* Main section to the right of Sidebar */
.main-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 10px;
  color: white;
  overflow: auto;
}

/* Item Info Box */
.item-info-box {
  background-color: #1a1a1a;
  padding: 15px;
  border: 1px solid #333;
  margin-bottom: 10px;
  color: white;
  min-height: 150px;
}

/* Market data (Sellers + Buyers) */
.market-data {
  display: flex;
  flex: 1;
  gap: 10px;
}

/* Boxes for Sellers and Buyers */
.sellers-box, .buyers-box {
  flex: 1;
  background-color: #1a1a1a;
  padding: 15px;
  border: 1px solid #333;
  overflow-y: auto;
}

/* Headers */
h2, h3 {
  margin-top: 0;
  color: #fff;
}
