body {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #1a1a1a;
  color: white;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
